<h1>日本酒一覧ページ</h1>

<% if @sakes.present? %>
  <div class="sake-cards">
    <%= render partial: "sakes/sake_card", collection: @sakes, as: :sake %>
  </div>
<% else %>
  <p>まだ日本酒が登録されていません。</p>
<% end %>
